# Django settings
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True

# Allowed hosts (comma separated)
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,iron-student.onrender.com

# CSRF trusted origins (comma separated)
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://iron-student.onrender.com

# CORS
CORS_ALLOW_ALL_ORIGINS=True
